.row {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
  .forgot{
min-height: 100%;
margin-bottom: 5rem;
  }

  .card{
    top:5rem;
    margin: auto;
    width: 50%;
  }