<section class="welcome">
  <div class="h-100">
    <div class="container d-flex hero justify-content-center">
      <div class="brand me-2">
        <h1 class="" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">CATCOM</h1>
      </div>
      <div class="divider bg-light me-2"></div>
      <div class="text-white">
        <span>Pray,</span><br>
        <span>Believe,</span><br>
        <span>Worship</span>
      </div>
    </div>
    <div class="container col-md-8 text-center pt-5">

      <p class="mb-3 text-cont opacity-70 text-dark">
        Looking for a community where you can grow, connect, and cultivate your love for God, yourself and others?
        Look no further! Our community is the
        perfect place for you.Join us today and become part of a vibrant community that is dedicated to
        helping you become the best version of yourself!
      </p>
      <p class="card-text text-dark" style="font-size: large;">Join us today and become part of a vibrant community that
        is
        dedicated to
        helping you become the best version of yourself! for free!
      </p>

      <div class="row d-flex pt-1 pb-5 align-items-center justify-content-center">
        <div class="nav-item col-md-4 col-lg-2 col-sm-3">
          <a class="nav-link btn btn-outline-primary text-white" href="about" routerLinkActive="active-link">Learn
            More</a>
        </div>
        <div class="nav-item col-md-4 col-lg-2 col-sm-3">
          <a class="nav-link btn btn-primary text-white me-2" routerLink="sign-in" routerLinkActive="active-link">Join
            Us</a>
        </div>
      </div>
    </div>
  </div>

</section>