.welcome{
    background-color:  #00000037;
    min-height: 100%;
}
.hero{
    padding-top:5rem;
}
  .brand{
    
  }
h1{
      font-size: 48px;
}

.divider{
    border-left: 6px solid white;
    
}

@media only screen and (min-width: 768px) {
    h1{
      font-size: 60px
    }
  }

  
@media only screen and (min-width: 1440px) {
    h1{
      font-size: 76px
    }
  }